.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Optional background color */
  }
  /* colorpalette
  D6FF79
  B0FF92
  FFF2F1
  A09BE7
  5F00BA */